<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-yz" version="1.0.0">
    <name>yz</name>
    <description>Cordova Android bridge for the YZ IoT vendor AAR.</description>
    <license>ISC</license>
    <keywords>cordova,android,yz,iot</keywords>
    <engines>
        <engine name="cordova" version=">=9.0.0" />
    </engines>
    <js-module src="www/yz.js" name="yz">
        <clobbers target="yz" />
        <clobbers target="cordova.plugins.yz" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="YZ">
                <param name="android-package" value="com.yztiot.cordova.YzPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/YzPlugin.java" target-dir="src/com/yztiot/cordova" />
        <resource-file src="libs/yztiotdemo.aar" target="libs/yztiotdemo.aar" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>